
@primary-color: #05d9e8; 
@accent-color: #ff2a6d; 
@secondary-color: #d300c5; 
@highlight-color: #fee800; 


@dark-bg: #0d0221;
@darker-bg: #070114;


@font-family-main: 'Orbitron', 'BlenderPro', 'Rajdhani', sans-serif;